<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        form {
            border: 1px solid black;
            width: 300px;
        }
    </style>
</head>
<body>
<h1>欢迎光临</h1>
    <form   action="/demo/login"   th:method="get" style="text-align: center;width: 10%">
        用户名：<br><input type="text" name="userName"><br>
        密码：<br><input type="text" name="password"><br>
        <br><input type="submit" value="登陆">
    </form>
    <a href="/demo/user"><h3>查询所有用户信息</h3></a>
    <a href="/user/getUser?id=1000"><h3>查询序号为1000的用户信息</h3></a>
    <a href="/demo/getOneUser?id=1000"><h3>查询序号为1000的用户信息(带页面)</h3></a>


</body>
</html>