<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.dao.UserDao">

    <insert id="insert" parameterType="com.example.demo.model.User">
        INSERT into t_user (user_name,password,phone) VALUE (#{userName},#{password},#{phone})
    </insert>

    <resultMap id="User" type="com.example.demo.model.User">
        <id column="user_id" property="userId"></id>
        <result column="user_name" property="userName"></result>
        <result column="password" property="password"></result>
        <result column="phone" property="phone"></result>
    </resultMap>

    <select id="getAllUser" resultMap="User">
      select * from t_user ;
    </select>

</mapper>